  <p class='header'>Timely email reminders so you never lose your streak on Github!</p>


  <% if current_user %>
    <%= link_to "Logout "+ current_user.name, '/signout', :class => 'btn center' %>
  <% else %>
    <%= link_to "Sign in with Github", "/auth/github", :class => 'btn center' %>
  <% end %>

<p class="info center text-center"><%= @users %> streakers strong!</p>
<p class="info center text-center"> Top streak: <%= @topstreak %> days!</p>
