<h1>Listing settings</h1>

<%= render 'form' %>

<table>
  <thead>
    <tr>
      <th>Reminders</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @settings.each do |setting| %>
      <tr>
        <td><%= setting.reminders %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

