/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html {
  font-size: 16px;
}

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
};

@media all and (max-width: 72em) {
  body {
    // font-size: 95%;
  }
}

p {
  margin: 0 auto;
  max-width: 40em;
  font-size: 1em;       /* 16 */
  line-height: 1.5em;   /* 24 */
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

h1 {
  font-size: 3em;       /* 48 */
  line-height: 2em;     /* 48 */
  float: left;
  width: 15em;
  margin: 1em auto .5em;
}

h2 {
  font-size: 2.25em;       /* 36 */
  line-height: 1.3333em;   /* 48 */
  // margin: .66667em;
  margin: 1.3333em auto .66667em;
}

h3 {
  font-size: 1.5em;     /* 24 */
  line-height: 1em;     /* 24 */
  margin-bottom: 1em;
}

h4, h5, h6 {
  font-size: 1em;      /* 16 */
  line-height: 1.5em;  /* 24 */
  margin-bottom: 1.5em;
}

ul, ol {
  font-size: 1em;
	list-style-type: none;
  line-height: 1.5em;
  margin: 0 auto 1.5em;
  padding-left: 3em;
}

a {
  color: $linkColor;
  text-decoration: none;
}

label {
  font-weight: bold;
}

img {
  display: block
}

.center {
  margin: 0em auto;
}

.space-vert {
  padding: 6em 0em 2em;
}

.text-center {
  text-align: center;
}

.btn {
  width: 20em;
  text-align: center;
  margin: 6em auto;
  padding: 2em;
  display: block;
  border: 1px solid #C0E2C5;
  color: #6E9173;
}

.btn:hover {
  border: 1px solid #8DA590;
  color: #48694D;
}
