/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.center {
  color: #999;
  margin: 0em auto;
}

.space-vert {
  padding: 6em 0em 2em;
}

.text-center {
  text-align: center;
}

.btn {
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 6em auto;
  padding: 4.5em;
  display: block;
  color: #6E9173;
  font-weight: bold;
}

.btn:hover {
  color: #48694D;
}

rect {
stroke:#FFF;
stroke-width:.5;
}

.center.logo {
  padding: 2em 0em;
  margin-top: 3em;
  display: block;
}

.header {
  font-style: italic;
  color: #999;
  margin: 2em auto 1em;
  text-align: center;
}

#logo {
  margin-bottom: 2em;
}

table{
  border-collapse:collapse;
  width:100%;
  margin:1em 0em;
}

  th, td{
    padding: 1em .5em;
    border: 0px;
    border-bottom: 1px solid #F3EEEE;
  }

  td:nth-child(2){
    text-align:right;
  }

.container {
  width: 45em;
  margin: 0 auto;
}
