// Place all the styles related to the leaderboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
  &, &:after, &:before{
    box-sizing:border-box;
  }
}

.grid{
  overflow: auto;

  &:after{
    clear:both;
  }
}

.third{
  width:33.33%;
  float:left;
  padding:.5em;

  &:first-child {
    padding-left: 0em;
  }

  &:last-child {
    padding-right: 0em;
  }
}

.nav label,
.nav a{
   border: 1px solid #B9C9B9;
   display:block;
   text-align:center;
   font-family: sans-serif;
   font-size: .8em;
   font-weight: bold;
   text-transform: uppercase;
   line-height: 3;
   color:#6baa5e;

   &:hover {
     cursor: pointer;
   }
}

