
html {
  font-size: 16px;
}

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
};

@media all and (max-width: 72em) {
  body {
    // font-size: 95%;
  }
}

p {
  margin: 0 auto;
  color: #999;
  font-family: Georgia, serif;
  font-size: 1.25em;       /* 16 */
  line-height: 2.4em;   /* 24 */
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

h1 {
  font-size: 2em;
  line-height: 2em;
  float: left;
  width: 100%;
  color: #999;
  font-family: sans-serif;
  margin: 1em auto .5em;
}

h2 {
  font-size: 2.25em;       /* 36 */
  line-height: 1.3333em;   /* 48 */
  // margin: .66667em;
  margin: 1.3333em auto .66667em;
}

h3 {
  font-size: 1.5em;     /* 24 */
  line-height: 1em;     /* 24 */
  margin-bottom: 1em;
}

h4, h5, h6 {
  font-size: 1em;      /* 16 */
  line-height: 1.5em;  /* 24 */
  margin-bottom: 1.5em;
}

ul, ol {
  font-size: 1em;
	list-style-type: none;
  line-height: 1.5em;
  margin: 0 auto 1.5em;
  padding-left: 3em;
}

a {
  text-decoration: none;

  &:visited {
    //color: #868686;
  }
}

img {
  display: block
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


.info {
  text-align: center;
  font-family: monospace;
  font-size: .8em;
}
