<!DOCTYPE html>
<html>
  <head>
      <title>Keepstreaking</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
         
          <%= csrf_meta_tags %>
            <meta name="google-site-verification" content="Ha9YCEJXIW35cu4FGicNByf9zo5bAihmV5slVUp-_M0" />
          </head>
          <body>
             <div id='logo'></div>
               <%= yield %>
                  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
                </body>
              </html>
